@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;

  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    scroll-snap-align: start;
  }

  .section-1 {
    display: flex;
    flex-direction: column;
    background-color: #d1c4e9;

    form {
      text-align: center;
      text-align: center;
      margin-top: 2rem;

      .normal + .always {
        margin-left: 1rem;
      }
    }

    .image-list {
      display: flex;
      gap: 20px;
      max-width: 400px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      box-shadow: 0 6px 14px #252523;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      padding: 1rem;
      margin: 3rem auto 0;
      background-color: #fff;
      border-radius: 15px;

      // &::-webkit-scrollbar {
      //   display: none;
      // }

      &-item {
        --stop: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 190px;
        width: 100%;
        height: 150px;
        scroll-snap-align: start;
        scroll-snap-stop: var(--stop);
        background-color: #ccc;
        font-size: 1.5rem;
        img {
          width: 100%;
          height: inherit;
          border-radius: 10px;
        }
      }
    }
  }

  .section-2 {
    background-color: #c8e6c9;
  }

  .section-3 {
    background-color: #b3e5fc;
  }

  .section-4 {
    background-color: #f0f4c3;
  }

  .section-5 {
    background-color: #ffccbc;
  }
}

@media (max-width: 576px) {
  main {
    .section-1 {
      .image-list {
        width: 80%;
        &-item {
          flex: 0 0 100%;
        }
      }
    }
  }
}
